# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.PPzD-3D-7.iml
# Datasource local storage ignored files
/../../../../../../../:\Pobieranie\Reafacto\PPzD-3D-7\.idea\.idea.PPzD-3D-7\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
